<body>
    <button onclick="history.back()" id="login-cross">x</button>
    <form action="/auth/login" method="post" id="login">
        {{#if error}}
        <p class="error">{{error}}</p>
        {{/if}}

        <div class="form-input">
            <label>Username</label>
            <input type="text" name="username">    
        </div>
        
        <div class="form-input">
            <label>Password</label>
            <input type="password" name="password">    
        </div>

        <button type="submit" class="form-button">Log in</button>
    </form>    
</body>
