<nav>
  <hr>
  <div class="banner">
    <h2>Artesan IA</h2>
    <p>We investigate the market so that you can focus on <span>what you truly care about</span></p>
    <div class="links">
    <div class="dropdown">
        <p class="language">EN <span>▼</span></p>
        <div class="lang-menu">
        <a href="/es/demo/show">ES</a>
        <a href="/ca/demo/show">CA</a>
        </div>  
    </div>
    <a href="/">Home</a>
    <a href="/demo">Demo</a>  
    </div>
  </div>
  <hr>
</nav>
<body>
    <section id="show">
        <section class="in-progress">
            <div class="announcement">
                <h4>WELCOME</h4>
                <p>We are working on our demo for you. At the moment you will only be able to see the main outlines of the features 
                    that will be available t our customers. We'll add notes next to every one of them to explain what we plan to add.</p>
                <p>Excuse us for our current appearance. 
                    The website UI/UX will eventually be a proper interactive dashboard for restaurant owners</p>            
            </div>
        </section>
        <section class="in-progress-info">
            <div class="text">
                <p>All our data and examples are based on one real restaurant in Barcelona that we really enjoy and frequent.
                This restaurant had a couple of tough months, when the quality visibly gone down. So we wanted to see what went 
                wrong and which opportunities they have now. All data is limited to 2023-02-14</p>
                <p class="span">Our UI is a subject to change according to our conversation with our restaurant contacts.</p>    
            </div>
        </section>
        <section class="in-progress-example">
            <div class="example">
                <h3 class="category">Basic feature #1</h3>
                <h4>Overall and local comparison accourding to user ratings</h4>
                <p>The following figure compares the chosen restaurant with all other restaurants in the city 
                    where the restaurant is located. In the future this graph will be interactive, so that restaurant owner 
                    can zoom in and for example see how she/he compares with say all restaurants rated better than 4.</p>
                <img src="/images/example1.png">
            </div>
            <div class="example">
                <h3 class="category">Advanced feature #1</h3>
                <h4>Analysis of what customers liked and didn't like and how it changed over time</h4>
                <p>If a place has quite a few reviews, it could be tricky to understand what was liked the most and what 
                    could use some improvement. The following figure shows the most common words used in reviews which
                    were associated with positive and negative emotions. 
                    For example if reviews mentioned "fantastic empanadas", the graph below will show "empanadas" in green.
                    The reviews are aggregated by month, so that the restaurant owner can see how the sentiment changed over time.
                    In the future this graph will be interactive and we also sort the words by their frequency of use.
                    This analysis has been done by fine-tuning a modern pretrained AI language model.
                </p>
                <p>We are also working on extracting the most popular food items specifically, so that
                    our customers can focus on what is the most popular on their menu and what is not so much.
                    We do not have this model ready yet. It requires some additional fine-tuning.</p>
                <img src="/images/rating.png">
            </div>
            <div class="example">
                <h3 class="category">Advanced feature #2</h3>
                <h4>What about the neighborhood?</h4>
                <p>This particular feature is under development. We want to show to the owners several 
                    things about their neighborhood. 
                    For example, how many restaurants are there, and what people think about them.
                    We will aggregate the data into various categories: eg, foods that have a lot of good representation in the neighborhood,
                    foods that are mentioned often, but poorely rated (indicating an opportunities). 
                    In addition, we'll be adding the degree of admiration of some items. For example, if there are croissant
                    specialists around. And various other profilings of the neighborhood. 
                    This feature requires analysis of hundreds of thousands of reviews and will be available in the future.
                    So far we can only provide an approximation by word cloud.
                </p>
                <img src="/images/wordcloud.jpeg">
            </div>
        </section>
    </section>    
</body>


