<nav>
  <hr>
  <div class="banner">
    <h2>Artesan IA</h2>
    <p>We investigate the market so that you can focus on <span>what you truly care about</span></p>
    <div class="links">
    <div class="dropdown">
        <p class="language">EN <span>▼</span></p>
        <div class="lang-menu">
        <a href="/es">ES</a>
        <a href="/ca">CA</a>
        </div>  
    </div>
    <a href="/">Home</a>
    <a href="/demo">Demo</a>  
    </div>
  </div>
  <hr>
</nav>
<body>
  <section id="home">
    <div class="home-text">
        <h4>The power of big AI for your restaurant**</h4>
        <a href="/demo" class="orange-button">See how it works</a>
        <p>**Yes, it is posible!</p>
    </div>
    <div class="home-img">
    </div>
</section>
</body>

