<nav>
    <hr>
    <div class="banner">
        <h2>Artesan IA</h2>
        <p>Investiguem el mercat per a que tu et puguis centrar <span>en lo que t'importa</span></p>
        <div class="links">
        <div class="dropdown">
            <p class="language">CA <span>▼</span></p>
            <div class="lang-menu">
            <a href="/demo/show">EN</a>
            <a href="/es/demo/show">ES</a>
            </div>  
        </div>
        <a href="/ca">Inici</a>
        <a href="/ca/demo">Demostració</a>  
        </div>
    </div>
    <hr>
</nav>
<body>
    <section id="show">
        <section class="in-progress">
            <div class="announcement">
                <h4>BENVINGUTS</h4>
                 <p>Estem treballant en la nostra demostració per a tu. De moment només podreu veure els contorns principals de les característiques
                     que estarà disponible per als nostres clients. Afegirem notes al costat de cadascun d'ells per explicar què volem afegir.</p>
                 <p>Perdoneu-nos pel nostre aspecte actual i el nostre català
                     La IU/UX del lloc web serà finalment un tauler de control interactiu adequat per als propietaris de restaurants</p>        
            </div>
        </section>
        <section class="in-progress-info">
            <div class="text">
                <p>Totes les nostres dades i exemples es basen en un restaurant real de Barcelona que ens agrada molt i freqüentem.
                 Aquest restaurant va tenir un parell de mesos durs, quan la qualitat va baixar visiblement. Així que volíem veure què passava
                 malament i quines oportunitats tenen ara. Totes les dades estan limitades al 2023-02-14</p>
                 <p class="span">La nostra interfície d'usuari pot canviar segons la nostra conversa amb els contactes del nostre restaurant.</p>
            </div>
        </section>
        <section class="in-progress-example">
            <div class="example">
                <h3 class="category">Funció bàsica núm. 1</h3>
                 <h4>Comparació global i local segons les valoracions dels usuaris</h4>
                 <p>La figura següent compara el restaurant escollit amb la resta de restaurants de la ciutat
                     on es troba el restaurant. En el futur aquest gràfic serà interactiu, de manera que el propietari del restaurant
                     pot apropar-se i, per exemple, veure com es compara amb, 
                     per exemple, tots els restaurants amb una puntuació millor que 4.</p>
                <img src="/images/example1.png">
            </div>
            <div class="example">
                <h3 class="category">Funció avançada núm. 1</h3>
                 <h4>Anàlisi de què els ha agradat i què no els ha agradat als clients i com ha canviat amb el temps</h4>
                 <p>Si un lloc té unes quantes ressenyes, pot ser complicat entendre què li ha agradat més i què
                     podria fer servir alguna millora. La figura següent mostra les paraules més habituals utilitzades a les ressenyes que
                     Estaven associats amb emocions positives i negatives.
                     Per exemple, si les ressenyes mencionen "empanades fantàstiques", el gràfic següent mostrarà "empanades" en verd.
                     Les ressenyes s'agreguen per mes, de manera que el propietari del restaurant pugui veure com ha canviat el sentiment al llarg del temps.
                     En el futur aquest gràfic serà interactiu i també ordenarem les paraules per la seva freqüència d'ús.
                     Aquesta anàlisi s'ha fet ajustant un model de llenguatge d'IA preentrenat modern.
                 </p>
                 <p>També estem treballant per extreure específicament els aliments més populars, de manera que
                     els nostres clients poden centrar-se en què és el més popular del seu menú i què no ho és tant.
                     Encara no tenim aquest model preparat. Requereix alguns ajustaments addicionals.</p>
                <img src="/images/rating.png">
            </div>
            <div class="example">
                <h3 class="category">Funció avançada núm. 2</h3>
                 <h4>I el barri?</h4>
                 <p>Aquesta característica en particular està en desenvolupament. Volem ensenyar als propietaris diversos
                     coses del seu barri.
                     Per exemple, quants restaurants hi ha i què en pensa la gent.
                     Agregarem les dades en diverses categories: per exemple, aliments que tenen molta bona representació al barri,
                     aliments que s'esmenten sovint, però mal valorats (indicant una oportunitat).
                     A més, hi afegirem el grau d'admiració d'alguns articles. Per exemple, si hi ha croissant
                     especialistes al voltant. I altres perfils diversos del barri.
                     Aquesta funció requereix l'anàlisi de centenars de milers de ressenyes i estarà disponible en el futur.
                     Fins ara només podem oferir una aproximació per núvol de paraules.
                 </p>
                <img src="/images/wordcloud.jpeg">
            </div>
        </section>
    </section>    
</body>

