<nav>
    <hr>
    <div class="banner">
        <h2>Artesan IA</h2>
        <p>Investiguem el mercat per a que tu et puguis centrar <span>en lo que t'importa</span></p>
        <div class="links">
        <div class="dropdown">
            <p class="language">CA <span>▼</span></p>
            <div class="lang-menu">
            <a href="/">EN</a>
            <a href="/es">ES</a>
            </div>  
        </div>
        <a href="/ca">Inici</a>
        <a href="/ca/demo">Demostració</a>  
        </div>
    </div>
    <hr>
</nav>
<body>
    <section id="home">
        <div class="home-text">
            <h4>El poder de la gran IA pel teu restaurant**</h4>
            <a href="/ca/demo" class="orange-button">Mira com funciona</a>
            <p>**¡Sí, és posible!</p>
        </div>
        <div class="home-img">
        </div>
    </section>
</body>

