<nav>
    <hr>
    <div class="banner">
        <h2>Artesan IA</h2>
        <p>Investigamos el mercado para que puedas concentrarte <span>en lo que realmente te importa</span></p>
        <div class="links">
        <div class="dropdown">
        <p class="language">ES <span>▼</span></p>
            <div class="lang-menu">
            <a href="/demo/show">EN</a>
            <a href="/ca/demo/show">CA</a>
            </div>  
        </div>
        <a href="/es">Inicio</a>
        <a href="/es/demo">Demostración</a>  
        </div>
    </div>
    <hr>
</nav>
<body>
    <section id="show">
        <section class="in-progress">
            <div class="announcement">
                <h4>BIENVENIDO</h4>
                 <p>Estamos trabajando en nuestra demostración para usted. Por el momento solo podrás ver los esquemas principales de las características
                     que estará disponible para nuestros clientes. Agregaremos notas junto a cada uno de ellos para explicar lo que planeamos agregar.</p>
                 <p>Discúlpenos por nuestra apariencia actual.</p>        
            </div>
        </section>
        <section class="in-progress-info">
            <div class="text">
                <p>Todos nuestros datos y ejemplos se basan en un restaurante real en Barcelona que realmente disfrutamos y frecuentamos.
                 Este restaurante tuvo un par de meses difíciles, cuando la calidad disminuyó visiblemente. Así que queríamos ver qué pasaba
                 mal y qué oportunidades tienen ahora. Todos los datos están limitados al 2023-02-14</p>
                 <p class="span">Nuestra interfaz de usuario está sujeta a cambios de acuerdo con nuestra conversación con los contactos de nuestro restaurante.</p>
            </div>
        </section>
        <section class="in-progress-example">
            <div class="example">
                <h3 class="category">Función básica #1</h3>
                 <h4>Comparación global y local según valoraciones de usuarios</h4>
                 <p>La siguiente figura compara el restaurante elegido con
                     todos los demás restaurantes de la ciudad
                     donde se encuentra el restaurante. En el futuro esto
                     gráfico será interactivo, de modo que el dueño del restaurante
                     puede hacer zoom y, por ejemplo, ver cómo ella/él
                     se compara con, digamos, todos los restaurantes calificados con más de 4.</p>
                <img src="/images/example1.png">
            </div>
            <div class="example">
                <h3 class="category">Función avanzada #1</h3>
                 <h4>Análisis de lo que les gustó y no les gustó a los clientes y cómo cambió con el tiempo</h4>
                 <p>Si un lugar tiene bastantes reseñas, puede ser difícil entender qué fue lo que más gustó y qué
                     podría usar alguna mejora. La siguiente figura muestra las palabras más comunes utilizadas en las reseñas que
                     se asociaron con emociones positivas y negativas.
                     Por ejemplo, si las reseñas mencionaron "empanadas fantásticas", el siguiente gráfico mostrará "empanadas" en verde.
                     Las reseñas se agregan por mes, para que el dueño del restaurante pueda ver cómo cambió el sentimiento con el tiempo.
                     En el futuro este gráfico será interactivo y también ordenaremos las palabras por su frecuencia de uso.
                     Este análisis se ha realizado ajustando un modelo de lenguaje de IA moderno preentrenado.
                 </p>
                 <p>También estamos trabajando en la extracción específica de los alimentos más populares, para que
                     nuestros clientes pueden centrarse en lo que es más popular en su menú y lo que no lo es tanto.
                     Todavía no tenemos este modelo listo. Requiere algunos ajustes adicionales.</p>
                <img src="/images/rating.png">
            </div>
            <div class="example">
                <h3 class="category">Función avanzada #2</h3>
                 <h4>¿Qué pasa con el vecindario?</h4>
                 <p>Esta función en particular está en desarrollo. Queremos mostrar a los propietarios varios
                     cosas de su barrio.
                     Por ejemplo, cuántos restaurantes hay y qué piensa la gente de ellos.
                     Agregaremos los datos en varias categorías: por ejemplo, alimentos que tienen una buena representación en el vecindario,
                     alimentos que se mencionan a menudo, pero mal calificados (lo que indica oportunidades).
                     Además, iremos añadiendo el grado de admiración de algunos artículos. Por ejemplo, si hay croissant
                     especialistas alrededor. Y varios otros perfiles del barrio.
                     Esta función requiere el análisis de cientos de miles de reseñas y estará disponible en el futuro.
                     Hasta ahora solo podemos proporcionar una aproximación por nube de palabras.
                 </p>
                <img src="/images/wordcloud.jpeg">
            </div>
        </section>
    </section>    
</body>

