<nav>
    <hr>
    <div class="banner">
        <h2>Artesan IA</h2>
        <p>Investigamos el mercado para que puedas concentrarte <span>en lo que realmente te importa</span></p>
        <div class="links">
        <div class="dropdown">
        <p class="language">ES <span>▼</span></p>
            <div class="lang-menu">
            <a href="/">EN</a>
            <a href="/ca">CA</a>
            </div>  
        </div>
        <a href="/es">Inicio</a>
        <a href="/es/demo">Demostración</a>  
        </div>
    </div>
    <hr>
</nav>
<body>
    <section id="home">
        <div class="home-text">
            <h4>El poder de la gran IA para tu restaurante**</h4>
            <a href="es/demo" class="orange-button">Ver cómo funciona</a>
            <p>**¡Sí, es posible!</p>
        </div>
        <div class="home-img">
        </div>
    </section>
</body>

